[submodule "main/trielo"]
	path = main/trielo
	url = https://github.com/spikeyamk/trielo
[submodule "misc/gui/lib/imgui"]
	path = misc/gui/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "misc/magic_packets/urazr"]
	path = misc/magic_packets/urazr
	url = https://github.com/spikeyamk/urazr
